[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyMySQL = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
mysqlclient = "*"
mssql-django = "*"
pyodbc = "*"
django-filter = "*"
django = "*"
djoser = "==2.3.3"

[dev-packages]

[requires]
python_version = "3.14"
